/* ------------------ COLORS ----------------- */

// Primary
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

// Neutral
/// Paragraphs
$transparent-white: hsla(0, 0%, 100%, 0.75);

/// background, headings, buttons
$very-light-gray: hsl(0, 0%, 95%);

/* ------------------ CSS RESET ----------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 93.75%;
}

body {
  // background-color: $dark-cyan;
  font-family: "Lexend Deca", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  .bg-pattern-top {
    position: absolute;
    top: -40%;
    left: -2.5%;
  }

  .bg-pattern-bottom {
    position: absolute;
    top: 50%;
    right: 0%;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root,
#__next {
  isolation: isolate;
}

/* ------------------ CSS RESET ----------------- */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 42rem;

  .card-container-sedans {
    background-color: $bright-orange;
  }
  .card-container-suvs {
    background-color: $dark-cyan;
  }
  .card-container-luxury {
    background-color: $very-dark-cyan;
  }
}

.card-title {
  font-family: "Big Shoulders Display", cursive;
}

/* ------------------ FOOTER ----------------- */

.attribution {
  margin-top: 3rem;
  font-size: 0.8rem;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
