/* ------------------ COLORS ----------------- */

// Primary
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

// Neutral
/// Paragraphs
$transparent-white: hsla(0, 0%, 100%, 0.75);

/// background, headings, buttons
$very-light-gray: hsl(0, 0%, 95%);

/* ------------------ CSS RESET ----------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 93.75%;
}

body {
  background-color: $very-light-gray;
  font-family: "Lexend Deca", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  .bg-pattern-top {
    position: absolute;
    top: -40%;
    left: -2.5%;
  }

  .bg-pattern-bottom {
    position: absolute;
    top: 50%;
    right: 0%;
  }
}

picture,
video,
canvas,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root,
#__next {
  isolation: isolate;
}

/* ------------------ CSS RESET ----------------- */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60rem;

  .card-container-sedans {
    background-color: $bright-orange;
    padding: 3rem;
    border-radius: 0.6rem 0rem 0rem 0.6rem;

    .btn {
      color: $bright-orange;
    }

    .btn:hover {
      color: $transparent-white;
      background-color: $bright-orange;
      outline: 2px solid $transparent-white;
      outline-offset: -2px;
    }
  }
  .card-container-suvs {
    background-color: $dark-cyan;
    padding: 3rem;

    .btn {
      color: $dark-cyan;
    }
    .btn:hover {
      color: $transparent-white;
      background-color: $dark-cyan;
      outline: 2px solid $transparent-white;
      outline-offset: -2px;
    }
  }
  .card-container-luxury {
    background-color: $very-dark-cyan;
    padding: 3rem;
    border-radius: 0rem 0.6rem 0.6rem 0rem;

    .btn {
      color: $very-dark-cyan;
    }

    .btn:hover {
      color: $transparent-white;
      background-color: $very-dark-cyan;
      outline: 2px solid $transparent-white;
      outline-offset: -2px;
    }
  }
}
.card-icon {
  margin-bottom: 1.4rem;
}

.card-title {
  font-family: "Big Shoulders Display", cursive;
  font-size: 2.65rem;
  color: $very-light-gray;
  line-height: 1.2;
  margin-bottom: 1.4rem;
  text-transform: uppercase;
}

.card-text {
  color: $transparent-white;
  margin-bottom: 5.2rem;
}

.btn {
  border: none;
  cursor: pointer;
  background-color: $very-light-gray;
  padding: 0.7rem 1.8rem;
  border-radius: 2rem;
}

/* ------------------ FOOTER ----------------- */

.attribution {
  margin-top: 2rem;
  font-size: 0.8rem;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
